all_secrets = {
  mariadb-secrets = {
    mariadb-password             = "meu-segredo",
    mariadb-replication-password = "meu-segredo",
    mariadb-root-password        = "meu-segredo",
    mariadb-username             = "meu-usuario",
    username                     = "meu-usuario"
  }
}